@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charmonman&display=swap");

/* ======  || Gäller för hela sidan || ====== */

html {
  /*För att alla element i dokumentet ska inkludera padding och border i sin totala width och height.
  Det blir lättare när jag själv ska styla då margin och padding inte överlappas. */
  box-sizing: border-box;
}

*, /*Gör så att det gäller alla element i ett html dokument*/
*::before,
*::after {
  box-sizing: inherit; /*inherit ärver samma värde som föräldren, och i och med att jag satt border-box
  kommer alla andra element att dela samma värde. */
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Open Sans", "Helvetica Neue", sans-serif; /*Gäller för alla text förrutom <p>*/
}

main {
  margin: 0 50px; /*För att få in all content, skapa mer luft*/
}

input,
textarea {
  padding-left: 4px;
}

h1,
h2,
h3 {
  font-family: "Roboto", "Open Sans", "Helvetica Neue", sans-serif; /*Gäller för alla text förrutom <p>*/

  margin-bottom: 10px; /*Skapa luft mellan rubrik och text */
}
/*rem äkar tillgängligheten då enheten 
  anpassar sig efter vilken textstorlek som användaren har valt i sin webbläsare.*/
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.875rem;
}
h3 {
  font-size: 1.25rem;
}
/*Nedan har jag även lagt till textarea då webbläsarna har olika standarder. */
p,
input,
textarea {
  font-family: "Raleway", "Open Sans", "Helvetica Neue", sans-serif; /*Gäller alla p */
  font-size: 16px;
}

ul {
  list-style: none; /*Tar bort prickar*/
}

/* || =======  Header och Navigation ======= ||*/

nav.navbar {
  display: flex; /* Container för hela menyn*/
  flex-direction: row; /*För att de ska hamna bredvid varandra och inte i column*/
  justify-content: space-between; /* Mellanrum i menyn*/
  height: 100px; /* Höjden på headern */
  align-items: center; /* För att få alla rubriker på samma rad */
  padding: 0 30px; /* 30px padding till höger och vänster. */
}

.logo-title {
  font-size: 3.125rem;
  font-family: "Charmonman", cursive, "Open Sans", "Helvetica Neue", sans-serif;
}
.logo-title > a {
  text-decoration: none; /*Tar bort understräcket som hamnar automatisk då det är en länk*/
  color: black;
}

.align-center .icon-slogan {
  width: 60px;
  height: 60px;
  margin: 10px;
}

.desktop-menu {
  display: flex; /* För att få rubrikerna bredvid varandra */
  justify-content: space-between; /*Luft emellan*/
  flex: 1; /* All content ska fylla hela utrymmet av föräldren */
}
.desktop-menu a {
  text-decoration: none; /* Tar bort understräck*/
  color: rgb(0, 0, 0);
}

.align-center {
  display: flex; /*För att få slogan och menyn bredvid varandra*/
  align-items: center; /* mittencentrering vertikalt av content*/
}
/*Nedan har jag satt flex: 2, till slogan då ville ha menyn mer till höger*/
.flex-2 {
  flex: 2; /*Tar upp 2/3*/
}
.flex-1 {
  flex: 1; /*Tar upp 1/3*/
}

/*Rullgardinsmeny*/
.dropdown-content {
  background-color: #f4dada;
  position: absolute; /*lägger sig på, framför skiter i det innan, bra för responsivitet*/
  display: none; /*Ska inte synas förens pekaren dras över*/
  padding: 7px 7px 7px 4px; /* Skapar luft mellan kanten och texten */
}

.dropdown:hover .dropdown-content {
  /* När man hovrar över .dropdown skall dess barn .dropdown-content bli synlig*/
  display: block;
}

li a:hover {
  text-decoration: underline; /* Skapar linje under vald rubrik*/
}

/* ========  Bakgrundsbild, rubrik och kontaktbox ======= */

.slogan {
  background-image: url(./bilder/pexels-adrianna-calvo-1086177.jpg);
  background-size: cover;
  background-position: top;
  padding: 70px;
  background-position: center;
  color: rgb(255, 255, 255);
  text-align: center;
  height: 300px; /*Här la jag height pga hade inte lika mycket content
  som på första sidan vilken gjorde att bilden blev mindre*/
}

/*Box som länkar till formuläret. Återfinns på flera sidor.*/
.kontakt-box {
  border: rgb(61, 155, 61);
  background-color: rgb(186, 207, 154);
  width: 100px;
  height: 40px;
  display: flex; /*positionerar text med flex box*/
  align-items: center;
  justify-content: center; /*positionerar text med flex box */
  margin: 40px auto;
}

.kontakt-box > a {
  text-decoration: none; /*Tar bort default understräck*/
  color: black;
}

/* ======= || FLEXBOX, återänvänds || ======*/

/* Används för att få content bredvid varandra. */
.flex-row {
  display: flex;
  justify-content: center; /*positionerar knapp med flex box */
}

/* Används för att få content bredvid varandra. */

.flex-container {
  display: flex; /*För att få dem bredvid varandra*/
  justify-content: space-around; /*För att få luft emellan content*/
}

.right .flex-row .kontakt-box {
  margin: 30px; /*Luft mellan box och text*/
}

/*Tar upp hälfen av föräldren som är flex-row */
.left {
  flex: 1;
  padding: 50px;
}
/*Tar upp hälfen av föräldren som är flex-row */
.right {
  flex: 1;
  padding: 50px;
}

.container {
  display: flex; /*För att bilderna ska bredvid varandra*/
  flex-wrap: wrap; /*För att få bilderna 2+2*/
}

.col2 {
  display: flex;
  flex-basis: 50%; /*Tar upp hälften av föräldern som är container*/

  padding: 10px; /*Luft emellan bilderna*/
}

.divider-wrapper {
  display: flex; /*För att få den vertikal*/
  align-items: center; /*Positionering i mitten*/
}

/* ====== SIDA 1, HEM /indexprojekt====== */

.card-3 {
  flex-basis: 30%; /* 30% av containern/föräldern. */
  padding: 20px; /* Skapa luft emellan boxarna */
}

/*Enbart till första sidan då där är llängr text som går över rosen vilket leder till dålig kontrast*/
.opacity {
  background-color: #00000087;
  padding: 4px;
}

/* ===== SIDA 2, Tjänster ======*/

.card-4 {
  flex-basis: 20%; /* 20% av containern/föräldern. */
  padding: 0px 0px 20px 0px; /* Skapa luft i botten */
}

.card-content {
  padding: 20px; /*Så att texten inte ligger precis i kanterna*/
}

.card {
  background-color: #e3eec9;
}

/* ===== Kontakt======*/

/*Gäller alla element i formuläret*/
.form-field {
  display: flex;
  flex-direction: column;
  margin: 8px 0; /*Bara margin ovan och under*/
}

.form-field input {
  height: 40px; /*Storlek på fältet*/
}

.form-field.checkbox {
  flex-direction: row; /*För att få boxen bredvid texten*/
}

/*För att justera labeln bara för checkbox*/
.form-field.checkbox label {
  margin-left: 10px;
  margin-top: 10px;
}

.submit-button {
  padding: 10px 40px;
  background-color: rgb(162, 216, 162);
  border-radius: 4px; /*Rundade hörn*/
  border: none;
  margin-top: 10px;
}

/* ===== Om oss ====== */

.bryt {
  margin: 20px;
  width: 400px;
}

/* ===== Footer, samma på alla sidor ====*/

footer {
  background-color: rgb(224, 197, 197);
  background-size: 100%;
  height: 150px;
}

.footer {
  padding: 20px;
  margin-bottom: 0;
  align-items: center;
  margin-left: 30px;
  font-size: 0.8em; /*Lite mindre storlek än övrigt på sidan*/
}

/* ===== ÅTERANVÄNDS  ===== */

/*img-fluid Kan användas till alla bilder då width och height anpassar sig till sin föräldrar.*/
.img-fluid {
  width: 100%;
  height: auto;
}

.divider {
  height: 80%; /*För att den inte ska täcka hela main content*/
}

/*Dessa klasser kan återanvändas där det behövs lite extra marginal.
Bra om man använder sig av flex box då marginal helst inte ska landas in i samma klass.*/
.margin-top-lg {
  margin-top: 40px;
}
.margin-top-md {
  margin-top: 30px;
}
.margin-top-sm {
  margin-top: 20px;
}
.margin-top-xs {
  margin-top: 10px;
}

/* ===== För responsivitet ==== */

/*   Jag har börjat koda för en mer responsiv hemsida
      men har inte helt hunnit med det på grund av min pappas plötsliga bortgång. */

@media all and (max-width: 800px) {
  /*Så att de inte tar upp för mycket av skärmen på en mobil. */
  .logo-title {
    font-size: 20px;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 20px;
  }
  /*Extra marginalen här behövs inte i en telefon*/
  main {
    margin: 10px;
  }

  /*För att det ska få plats på en mobil. 
  Blir lättare att använda om det ligger i column*/
  .flex-container {
    flex-direction: column;
  }

  .container {
    flex-direction: column;
  }
  .flex-row {
    flex-direction: column;
  }
  .desktop-menu {
    flex-direction: column;
  }
}
