@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charmonman&display=swap");

/* || Gäller för hela sidan || */

html {
  /*För att alla element i dokumentet ska inkludera padding och border i sin totala width och height.
  Det blir lättare när jag själv ska styla då margin och padding inte överlappas. */
  box-sizing: border-box;
}

*, /*Gör så att det gäller alla element i ett html dokument*/
*::before,
*::after {
  box-sizing: inherit; /*inherit ärver samma värde som föräldren, och i och med att jag satt border-box
  kommer alla andra element att dela samma värde. */
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Open Sans", "Helvetica Neue", sans-serif; /*Gäller för alla text förrutom <p>*/
}

main {
  margin: 0 100px; /*För att få in all content, skapa mer luft*/
}
p {
  font-family: "Raleway", "Open Sans", "Helvetica Neue", sans-serif; /*Gäller alla p */
}

/* || =======   Header och Navigation ======= ||*/

nav.navbar {
  display: flex; /* Container för hela menyn*/
  flex-direction: row; /*För att de ska hamna bredvid varandra och inte i column*/
  justify-content: space-between; /* Mellanrum i menyn*/
  height: 100px; /* Höjden på headern */
  align-items: center; /* För att få alla rubriker på samma rad */
  padding: 0 1.875em; /* 30px padding till höger och vänster, em äkar tillgängligheten då enheten 
  anpassar sig efter vilken textstorlek som snvändaren har valt i sin webbläsare. */
}

.logo-title {
  font-size: 50px; /*Gör om till rem pga TILLGÄNGLIGHET*/
  font-family: "Charmonman", cursive;
}
.logo-title > a {
  text-decoration: none;
  color: black;
}

.align-center .icon-slogan {
  width: 60px;
  height: 60px;
  margin: 10px;
}

ul.menu {
  display: flex; /* För att få rubrikerna bredvid varandra */
  justify-content: space-between; /*Luft emellan*/
  list-style: none; /* */
  flex: 1; /* All content ska fylla hela utrymmet av föräldren */
}
ul.menu a {
  text-decoration: none; /* Tar bort understräck*/
  color: rgb(0, 0, 0); /* */
}

.align-center {
  display: flex; /*För att få slogan och menyn bredvid varandra*/
  align-items: center; /* mittencentrering vertikalt av content*/
}
/*Nedan har jag satt flex: 2, till slogan då ville ha menyn mer till höger*/
.flex-2 {
  flex: 2; /*Tar upp 2/3*/
}
.flex-1 {
  flex: 1; /*Tar upp 1/3*/
}

.dropdown-content {
  list-style: none;
  background-color: #f4dada;
  position: absolute; /*lägger sig på, framför skiter i det innan, bra för responsivitet*/
  display: none; /*Ska inte synas förens pekaren dras över*/
  padding: 7px 7px 7px 4px; /* Skapar luft mellan kanten och texten */
}

.dropdown:hover .dropdown-content {
  /* När man hovrar över .dropdown skall dess barn .dropdown-content bli synlig*/
  display: block;
}

li a:hover {
  text-decoration: underline; /* Skapar linje under vald rubrik*/
}

/* ========  Gäller för alla sidor  - Bakgrundsbild, rubrik och mailbox ======= */

.slogan {
  background-image: url(./bilder/pexels-adrianna-calvo-1086177.jpg);
  background-size: cover;
  background-position: top;
  padding: 70px;
  background-position: center;
  color: rgb(255, 255, 255);
  text-align: center;
  height: 300px; /*Här la jag height pga hade inte lika mycket content
  som på första sidan vilken gjorde att bilden blev mindre*/
}

h2,
h1 {
  margin-bottom: 10px; /*Skapa luft mellan rubrik och text */
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}

.mailto-box {
  border: green;
  background-color: rgb(186, 207, 154);
  width: 100px;
  height: 40px;
  display: flex; /*positionerar text med flex box*/
  align-items: center;
  justify-content: center; /*positionerar text med flex box */
}

.mailto-box > a {
  text-decoration: none;
  color: black;
}

/* Används för att centrera ensamma element, tex knappar */
.flex-row {
  display: flex;
  justify-content: center; /*positionerar knapp med flex box */
}

/* ======= GÄLLER FÖR ALLA SIDOR  Main content =======  */

.flex-container {
  display: flex; /*För att få dem bredvid varandra*/
  justify-content: space-around; /*Vänster justering VADÅ VÄNSTER?!*/
}

/* ====== SIDA 1, HEM /indexprojekt====== */

.card-3 {
  flex-basis: 30%; /* 30% av containern/föräldern. */
  padding: 20px; /* Skapa luft emellan boxarna */
}

/* ===== SIDA 2, Tjänster ======*/

.card-4 {
  flex-basis: 20%; /* 20% av containern/föräldern. */
  padding: 20px; /* Skapa luft emellan boxarna */
}

.card-content {
  padding: 20px; /*Så att texten inte ligger precis i kanterna*/
}

.card {
  background-color: #dbe9b7;
}

/* ===== SIDA 3,3,5 och 6 ======  */

.right .flex-row .mailto-box {
  margin: 30px; /*Luft mellan box och text*/
}
.left {
  flex: 1;
  padding: 50px;
}
.right {
  flex: 1;
  padding: 50px;
}

.container {
  display: flex;
  flex-wrap: wrap; /*För att få bilderna 2+2*/
  margin-bottom: 40px;
}

.col2 {
  display: flex;
  flex-basis: 50%;

  padding: 10px;
}

/* ===== Kontakt======*/

form {
}

/* ===== Om oss ====== */

.bryt {
  margin: 20px;
  width: 400px;
}

/* ===== Footer, samma på alla sidor ====*/

footer {
  background-color: rgb(224, 197, 197);
  background-size: 100%;
  height: 150px;
}

.footer {
  padding: 20px;
  margin-bottom: none;
  align-items: center;
  margin-left: 30px;
  justify-content: center; /*positionerar text med flex box */
  font-size: 0.8em; /*Lite mindre storlek än övrigt på sidan*/
}

/* ===== Dessa återanvänds på flera sidor ===== */

.img-fluid {
  width: 100%;
  height: auto;
}

.divider-wrapper {
  display: flex; /*För att få den vertikal*/
  align-items: center; /*Positionering i mitten*/
}

.divider {
  height: 80%;
}

.margin-top-lg {
  margin-top: 40px;
}
.margin-top-md {
  margin-top: 30px;
}
.margin-top-sm {
  margin-top: 20px;
}
.margin-top-xs {
  margin-top: 10px;
}

.opacity {
  background-color: #00000087;
  padding: 4px;
}
