body {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-left: 5%;
}
h1 {
  color: rgb(8, 109, 67);
}

.navbar {
  margin-bottom: 20px;
}
.margin-right {
  margin-right: 18px;
}
.margin-top {
  margin-top: 50px;
}
p {
  margin-right: 10%;
}
p {
  line-height: 140%;
}
